<header class="header p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- logo button -->
        <a href="/" class="d-none d-md-block">
            <img class="logo" src="{{ '/assets/img/logo.png' | relative_url }}" alt="">
        </a>
        <a href="/" class="d-md-none">
            <img class="logo" src="{{ '/assets/img/logo-immopop-red.png' | relative_url }}" alt="">
        </a>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
            <!-- humburger button -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown"><a class="nav-link btn-sm" href="#" role="button"
                            data-bs-toggle="dropdown">{% t vendre %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                            </svg></a>
                        <ul class="dropdown-menu mt-1 pt-4 border-top-1">
                            <li class="px-3"><a class="dropdown-item border-bottom" href="{{ site.baseurl }}/sell/">
                                    <span><strong>{% t vmb %}</strong></span>
                                    <p>{% t pi %}</p>
                                </a></li>
                            <li class="px-3"><a class="dropdown-item" href="{{ site.baseurl }}/how/">
                                    <span><strong>{% t ccm %}</strong></span>
                                    <p>{% t sc %}</p>
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item"> <a class="nav-link  btn-sm" href="{{ site.baseurl }}/buy/">{% t acheter %}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link  btn-sm" href="{{ site.baseurl }}/services/">Service & Tarifs</a></li>
                    <li class="nav-item"><a id="btn-estimation" class="nav-link btn btn-sm"
                            href="{{ site.baseurl }}/estimation/">Estimation
                            gratuite</a></li>
                    <li class="nav-item">
                       {% include langue_button.html %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>