<div class="d-lg-flex position-relative">
    <div class="container d-lg-flex align-items-lg-center space-top-2 space-top-md-5 space-lg-0 min-vh-lg-100">
        <!-- Content -->
        <div class="row w-100">
            <div class="col-lg-5">
                <div class=" display-4 font-size-md-down-5 mb-3 text-center">
                    <img src="https://imova.pro/bundles/front/img/logos/logo.png" class="img-fluid" alt="IMOVA: L'Agence Immobilière en ligne">
                </div>
                <h1 class="h3 font-weight-normal mb-1 pl-2">L'Agence Immobilière en ligne</h1>
                <p class="lead pl-2" style="font-size: 1.15rem;">
                    Achetez, Vendez
                    <span class="d-block d-md-inline text-primary">
                        <strong class="u-text-animation u-text-animation--typing pop-typed-0" data-typed-text="[&quot;Sans Commission&quot;,&quot;\u00c0 Forfait Fixe de 3 900 TND&quot;]">À Forfait</strong><span class="typed-cursor" aria-hidden="true">|</span>
                    </span>
                </p>

                <div class="d-flex align-items-center flex-wrap mt-5">
                    <a class="btn btn-soft-primary btn-wide transition-3d-hover ml-2 my-2 w-100 w-md-auto" href="vendre.html">
                        <i class="fas fa-envelope"></i> Vendre un bien
                    </a>
                    <a class="btn btn-soft-primary btn-wide transition-3d-hover ml-2 my-2 w-100 w-md-auto" href="search.html">
                        <i class="fas fa-search"></i> Rechercher un bien
                    </a>
                </div>
            </div>
        </div>
        <!-- End Content -->

        <!-- SVG Background -->
        <div id="SVGMainHero" class="col-lg-9 col-xl-7 d-none d-lg-block position-absolute top-0 right-0 pr-0">
            <!--?xml version="1.0" encoding="utf-8"?-->
            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1374.7 1083.6" style="enable-background:new 0 0 1374.7 1083.6;" xml:space="preserve">
                <style type="text/css">
                    .main-hero-0 {
                        fill: #377dff;
                    }
                </style>
                <path class="main-hero-0 fill-primary" opacity=".05" style="
clip-path: circle(25.07% at 38.18% 34.47%);
" d="M285.2,170.1c-94.5,8.6-181.2,57.4-235.9,134.8C-34.7,423.6-54.5,621.5,349,879.8
c636.5,407.6,600,9.3,591.9-47.4c-0.8-5.5-1.4-11.1-2-16.6l-34.2-374.1C888.4,262,729.2,129.6,549.4,146L285.2,170.1z"></path>
                <g>
                    <defs>
                        <path id="mainHeroBlock1" d="M1374.7,0H687.6l-278,279.7c-150,150.9-148.1,395.3,4.4,543.8l0,0C554.1,960,774.9,968.7,925.4,843.6
    l449.3-373.4V0z"></path>
                    </defs>
                    <clipPath id="mainHeroBlock2">
                        <use xlink:href="#mainHeroBlock1" style="overflow:visible;"></use>
                    </clipPath>
                    <!-- <g transform="matrix(1 0 0 1 0 0)" style="clip-path:url(#mainHeroBlock2);"> -->
                    <g transform="matrix(1 0 0 1 0 0)" style="clip-path: circle(33.9% at 30.95% 53.38%);">
                        <!-- Apply your (750px width to 750px height) image here -->
                        <image id="SVGMainHeroImg1" style="overflow:visible;" height="750" xlink:href="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80" transform="matrix(1.4462 0 0 1.4448 290.09 0)"></image>
                    </g>

                </g>
            </svg>

        </div>
        <!-- End SVG Background -->
    </div>
</div>