<section class="container space-2">
    <div class="row justify-content-lg-between align-items-lg-center">

        <div class="col-lg-5 order-lg-2 mb-9 mb-lg-0">

            <!-- Description -->
            <div class="d-flex justify-content-center">
                <button class=" btn btn-sm my-5 rounded-pill mx-2 button-estimation d-flex align-items-center" href="service-and-prices.html">
                    Un forfait fixe à  <strong class="mx-1">3 900 TND</strong>
                </button>
            </div>

            <h2 class="text-blue">
                <span class="font-weight-semi-bold">LA</span>
                <small>nouvelle alternative.</small>
            </h2>

            <p class="text-justify">
                La Tunisie est un des pays ou les commissions d’agences sont les plus élevées, entre 3 et 5 % et peuvent
                parfois même grimper au-delà.
            </p>

            <p class="text-justify">
                Notre agence nouvelle génération vous offrira le service complet sans payer des commissions de 20 000 et
                50 000 dinars, un forfait fixe de 3 900 dinars vous sera proposé quel que soit le prix de vente du bien.
            </p>
            <!-- End Description -->

            <!-- List -->
            <ul class="list-unstyled text-secondary">
                <li class="media my-2">
                    <div class="d-flex mt-1 mr-2">
                        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-1">
                            <span class="fas fa-check btn-icon__inner"></span>
                        </span>
                    </div>
                    <div class="media-body pt-2">
                        <h3 class="h6 text-secondary">
                            Aucun frais caché !
                        </h3>
                    </div>
                </li>
                <li class="media my-2">
                    <div class="d-flex mt-1 mr-2">
                        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-1">
                            <span class="fas fa-check btn-icon__inner"></span>
                        </span>
                    </div>
                    <div class="media-body pt-2">
                        <h3 class="h6 text-secondary">
                            Aucune avance.
                        </h3>
                    </div>
                </li>
                <li class="media my-2">
                    <div class="d-flex mt-1 mr-2">
                        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-1">
                            <span class="fas fa-check btn-icon__inner"></span>
                        </span>
                    </div>
                    <div class="media-body pt-2">
                        <h3 class="h6 text-secondary">
                            Paiement au succès.
                        </h3>
                    </div>
                </li>
            </ul>
            <!-- End List -->
        </div>

        <div class="col-lg-7 order-lg-1">

            <!-- Price Compare -->
            <div class="row justify-content-center mb-3">


                <div class="col-6 col-sm-4 mb-7 mb-sm-0 py-5 aos-init aos-animate" data-aos="zoom-in-up"
                    data-aos-delay="150">
                    <!-- Classic -->
                    <div class="card border-1 shadow-sm">
                        <header class="card-header border-0 position-relative bg-primary-2 text-white text-center p-3 pb-8">

                            <div class="h6 text-white mt-3 mb-5 w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                                  </svg><p> Agence Classique</p>
                            </div>

                            <div class="position-absolute right-0 bottom-0 left-0">
                                <figure id="SVGEcoCompareWave1" class="ie-wave-1-bottom">
                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 100"
                                        style="enable-background:new 0 0 300 100;" xml:space="preserve">
                                        <style type="text/css">
                                            .wave-bottom-1-0 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #051D40;
                                            }

                                            .wave-bottom-1-1 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #051D40;
                                                fill-opacity: 0;
                                            }

                                            .wave-bottom-1-2 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #051D40;
                                            }
                                        </style>
                                        <g>
                                            <defs>
                                                <rect id="waveBottom1ID1" width="300" height="100"></rect>
                                            </defs>
                                            <clipPath id="waveBottom1ID2">
                                                <use xlink:href="#waveBottom1ID1" style="overflow:visible;"></use>
                                            </clipPath>
                                            <path class="wave-bottom-1-0 fill-white" opacity=".4"
                                                d="M10.9,63.9c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7C293.7,41,315,61.2,315,61.2v54.4H10.9V63.9z">
                                            </path>
                                            <path class="wave-bottom-1-0 fill-white" opacity=".4" d="M-55.7,64.6c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7c48.7-4.1,69.9,16.2,69.9,16.2v54.4H-55.7
V64.6z"></path>
                                            <path class="wave-bottom-1-1 fill-white" opacity=".4"
                                                d="M23.4,118.3c0,0,48.3-68.9,109.1-68.9c65.9,0,98,67.9,98,67.9v3.7H22.4L23.4,118.3z">
                                            </path>
                                            <path class="wave-bottom-1-2 fill-white" d="M-54.7,83c0,0,56-45.7,120.3-27.8c81.8,22.7,111.4,6.2,146.6-4.7c53.1-16.4,104,36.9,104,36.9l1.3,36.7l-372-3
L-54.7,83z"></path>
                                        </g>
                                    </svg>

                                </figure>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-5 pb-3">
                            <span class="d-block text-center">
                                <span class="h3 font-weight-semi-bold text-secondary">
                                    <span style="font-size:10px">En moyenne</span> <br>4.87 %
                                </span>
                            </span>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Classic -->
                </div>

                <div class="col-6 col-sm-5 mb-7 mb-sm-0">
                    <!-- IMOVA -->
                    <div class="card card-frame-highlighted border-1 shadow-sm">
                        <header
                            class="card-header border-0 position-relative bg-primary-2  text-white text-center p-4 pb-8">

                            <img class="img-fluid mt-4 mb-5" src="{{ '/assets/img/logo-white.png' | relative_url }}"
                                alt="Logo IMOVA White" data-parent="#SVGEcoCompareWave2">

                            <div class="position-absolute right-0 bottom-0 left-0 border-0 ">
                                <div id="SVGEcoCompareWave2" class="ie-wave-1-bottom">
                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                    <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 100"
                                        style="enable-background:new 0 0 300 100;" xml:space="preserve">
                                        <style type="text/css">
                                            .wave-bottom-1-0 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #FFFFFF;
                                            }

                                            .wave-bottom-1-1 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #FFFFFF;
                                                fill-opacity: 0;
                                            }

                                            .wave-bottom-1-2 {
                                                clip-path: url(#waveBottom1ID2);
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <g>
                                            <defs>
                                                <rect id="waveBottom1ID1" width="300" height="100"></rect>
                                            </defs>
                                            <clipPath id="waveBottom1ID2">
                                                <use xlink:href="#waveBottom1ID1" style="overflow:visible;"></use>
                                            </clipPath>
                                            <path class="wave-bottom-1-0 fill-white" opacity=".4"
                                                d="M10.9,63.9c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7C293.7,41,315,61.2,315,61.2v54.4H10.9V63.9z">
                                            </path>
                                            <path class="wave-bottom-1-0 fill-white" opacity=".4" d="M-55.7,64.6c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7c48.7-4.1,69.9,16.2,69.9,16.2v54.4H-55.7
V64.6z"></path>
                                            <path class="wave-bottom-1-1 fill-white" opacity=".4"
                                                d="M23.4,118.3c0,0,48.3-68.9,109.1-68.9c65.9,0,98,67.9,98,67.9v3.7H22.4L23.4,118.3z">
                                            </path>
                                            <path class="wave-bottom-1-2 fill-white" d="M-54.7,83c0,0,56-45.7,120.3-27.8c81.8,22.7,111.4,6.2,146.6-4.7c53.1-16.4,104,36.9,104,36.9l1.3,36.7l-372-3
L-54.7,83z"></path>
                                        </g>
                                    </svg>

                                </div>
                            </div>
                        </header>

                        <!-- Content -->
                        <div class="card-body pt-0 px-4 pb-5 pt-4 pt-sm-0">
                            <span class="d-block text-center">
                                <span class="h2 font-weight-semi-bold text-primary" style="
                                font-size: calc(1.100rem + .9vw);
                            ">
                                    3 900&nbsp;TND
                                </span>
                            </span>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End IMOVA -->
                </div>
            </div>
            <!-- End Price Compare -->
        </div>
    </div>
    <div class="text-center d-none d-md-block">
        <span class="u-divider u-divider--xs u-divider--text">
        </span>
    </div>
</section>