<section class="container space-1 space-md-1" id="faqCollapseSection">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <a class="btn btn-xs btn-soft-success btn-pill mb-2" href="faq.html#faqGeneralSection">
            FAQ
        </a>
        <h2 class="text-primary">
            <span class="font-weight-semi-bold">Questions fréquentes</span>
        </h2>
    </div>
    <!-- End Title -->

    <!-- FAQ -->
    <div class="space-bottom-1">

        <!-- Generic FAQ Block -->
        <div id="faqCollapse" class="accordion mb-5">


            <!-- Collapse Card -->
            <div class="card card-bordered shadow-none">
                <div class="card-header card-collapse" id="collapse75bb0623b96e67b741f6eb3e733cb0b6Header">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#collapse75bb0623b96e67b741f6eb3e733cb0b6" aria-expanded="false" aria-controls="basicsCollapseThree">
                        <h3 class="h5 mb-0">
                            Quelle est la différence entre IMOVA et une agence immobilière
                            traditionnelle ?
                        </h3>
                        <span class="card-btn-toggle">
                            <span class="card-btn-toggle-default">+</span>
                            <span class="card-btn-toggle-active">−</span>
                        </span>
                    </button>
                </div>
                <div id="collapse75bb0623b96e67b741f6eb3e733cb0b6" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#faqCollapse">
                    <div class="card-body">
                        Le prix oui, mais pas seulement. Nous considérons que des frais fixes devraient être appliqués à une vente. Nous avons décidé d’appliquer une tarification juste, représentative des coûts réellement engagés lors d’une vente immobilière. Nous avons axé
                        notre service sur l’efficacité et la transparence. Dans l’objectif de redonner le pouvoir de décision et d’informations aux particuliers.
                        <div class="row justify-content-center">
                            <a href="faq.html#faqGeneralSection" class="btn btn-sm btn-soft-blue transition-3d-hover col-6 col-md-4"> <i class="fas fa-arrow-circle-right"></i> Laissez nous vous convaincre </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Collapse Card -->

            <!-- Collapse Card -->
            <div class="card card-bordered shadow-none">
                <div class="card-header card-collapse" id="collapse2c1030a9b29315f5a6fdd623e54fc57bHeader">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#collapse2c1030a9b29315f5a6fdd623e54fc57b" aria-expanded="false" aria-controls="basicsCollapseThree">
                        <h3 class="h5 mb-0">
                            Combien coûte votre service ?
                        </h3>
                        <span class="card-btn-toggle">
                            <span class="card-btn-toggle-default">+</span>
                            <span class="card-btn-toggle-active">−</span>
                        </span>
                    </button>
                </div>
                <div id="collapse2c1030a9b29315f5a6fdd623e54fc57b" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#faqCollapse">
                    <div class="card-body">
                        Nous proposons un service complet d'agence immobilière à commission fixe de 3 900&nbsp;TND qui comprend toutes les étapes essentielles de la vente immobilière. De l’estimation du bien jusqu'à la signature définitive, votre expert IMOVA local vous accompagne
                        et vous conseille.
                        <div class="row justify-content-center">
                            <a href="service-and-prices.html" class="btn btn-sm btn-soft-blue transition-3d-hover col-6 col-md-4"> <i class="fas fa-arrow-circle-right"></i> Découvrez nos services. </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Collapse Card -->

            <!-- Collapse Card -->
            <div class="card card-bordered shadow-none">
                <div class="card-header card-collapse" id="collapsef7062569bce101c2d5e3bd7774a45256Header">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#collapsef7062569bce101c2d5e3bd7774a45256" aria-expanded="false" aria-controls="basicsCollapseThree">
                        <h3 class="h5 mb-0">
                            Y a-t-il des frais supplémentaires ?
                        </h3>
                        <span class="card-btn-toggle">
                            <span class="card-btn-toggle-default">+</span>
                            <span class="card-btn-toggle-active">−</span>
                        </span>
                    </button>
                </div>
                <div id="collapsef7062569bce101c2d5e3bd7774a45256" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#faqCollapse">
                    <div class="card-body">
                        Tout est inclus dans le prix, il n'y a pas de surprise : pas de frais additionnels, pas de frais cachés. <br><br> Seules les visites sont en option ! <br><br> La rémunération est due en cas de signature de l’acte
                        de vente.
                    </div>
                </div>
            </div>
            <!-- End Collapse Card -->

            <!-- Collapse Card -->
            <div class="card card-bordered shadow-none">
                <div class="card-header card-collapse" id="collapse624f7d2564173c9f93548229414a7e2fHeader">
                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#collapse624f7d2564173c9f93548229414a7e2f" aria-expanded="false" aria-controls="basicsCollapseThree">
                        <h3 class="h5 mb-0">
                            Qui paye quoi ?
                        </h3>
                        <span class="card-btn-toggle">
                            <span class="card-btn-toggle-default">+</span>
                            <span class="card-btn-toggle-active">−</span>
                        </span>
                    </button>
                </div>
                <div id="collapse624f7d2564173c9f93548229414a7e2f" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#faqCollapse">
                    <div class="card-body">
                        En cas de vente, la rémunération Imova est à la charge du vendeur 3 900 TND (selon le forfait choisi). Quant à l'acheteur, il ne paye que 2 000 TND de frais de dossier.
                    </div>
                </div>
            </div>
            <!-- End Collapse Card -->
        </div>
        <!-- End Generic FAQ Block -->
    </div>

    <div class="space-bottom-1">
        <div class="row justify-content-center">
            <a href="contact.html" class="btn btn-sm btn-block btn-soft-primary transition-3d-hover col-10 col-md-6">
                <span class="fas fa-envelope"></span> Une question ?
            </a>
        </div>
    </div>

</section>