<section id="popSavingCalulator" class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-white animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}" data-base-price="3900">
    <!-- Apply your Parallax background image here -->
    <div class="dzsparallaxer--target" style="height: 130%; background-image: url(&quot;bundles/front/svg/components/bg-elements-7.svg&quot;); transform: translate3d(0px, -89.7393px, 0px);" alt="SVG Calculator Paralax"></div>

    <div class="container space-2 space-md-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <a class="btn btn-xs btn-soft-success btn-pill mb-2" href="service-and-prices.html">
                Vos Économies
            </a>
            <h2 class="h3 font-weight-medium">Peu importe la valeur du bien, payez le juste prix !</h2>
        </div>
        <!-- End Title -->

        <!-- Card Group -->
        <div class="card-group card-group-md-break rounded shadow-soft">
            <div class="card">
                <div class="card-body text-center pt-6 px-7">

                    <!-- Selling Price Blocks -->
                    <div class="row align-items-center mb-3">
                        <div class="col-md-2 d-none d-md-block">
                            <div id="icon13" class="ie-height-56 w-50 max-w-10rem mx-auto">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                    <style type="text/css">
                                        .icon-13-0 {
                                            fill: none;
                                            stroke: #FFFFFF;
                                        }

                                        .icon-13-1 {
                                            fill: none;
                                            stroke: #BDC5D1;
                                        }

                                        .icon-13-2 {
                                            fill: none;
                                            stroke: #377DFF;
                                        }

                                        .icon-13-3 {
                                            fill: #377DFF;
                                        }
                                    </style>
                                    <polyline class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="85.3,109.2 85.3,91.3 103.1,91.3 103.1,109.2 "></polyline>
                                    <line class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="94.2" y1="91.3" x2="94.2" y2="109.2"></line>
                                    <g>
                                        <rect x="85.3" y="36.9" class="icon-13-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                        <rect x="97.2" y="36.9" class="icon-13-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                    </g>
                                    <g opacity=".5">
                                        <rect x="85.3" y="49.8" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                        <rect x="97.2" y="49.8" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                    </g>
                                    <g opacity=".5">
                                        <rect x="85.3" y="62.6" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                        <rect x="97.2" y="62.6" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                    </g>
                                    <g opacity=".5">
                                        <rect x="85.3" y="75.4" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                        <rect x="97.2" y="75.4" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="6" height="6"></rect>
                                    </g>
                                    <g opacity=".5">
                                        <rect x="17.3" y="69.4" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                        <rect x="28.6" y="69.4" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                    </g>
                                    <g opacity=".5">
                                        <rect x="17.3" y="86.7" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                        <rect x="28.6" y="86.7" class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                    </g>
                                    <g>
                                        <rect x="17.3" y="52.1" class="icon-13-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                        <rect x="28.6" y="52.1" class="icon-13-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.7" height="11.3"></rect>
                                    </g>
                                    <line class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="71.7" y1="63.8" x2="77.9" y2="67.3"></line>
                                    <polyline class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9.5,109.2 9.5,42.8 54.7,21.4 54.7,40.1 "></polyline>
                                    <polyline class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="77.9,109.2 77.9,4.9 110.5,19.9 110.5,109.2 "></polyline>
                                    <line class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="101.5" y1="23" x2="104.4" y2="24.3"></line>
                                    <line class="icon-13-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="84.3" y1="15" x2="97.2" y2="20.9"></line>
                                    <polyline class="icon-13-3 fill-primary" points="39.2,109.2 39.2,40.1 71.7,40.1 71.7,109.2 "></polyline>
                                    <g>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="50.3" x2="46.9" y2="50.3"></line>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="60" x2="46.9" y2="60"></line>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="69.7" x2="46.9" y2="69.7"></line>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="79.5" x2="46.9" y2="79.5"></line>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="89.2" x2="46.9" y2="89.2"></line>
                                        <line class="icon-13-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="63.9" y1="98.9" x2="46.9" y2="98.9"></line>
                                    </g>
                                    <line class="icon-13-2 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="118.5" y1="109.2" x2="1.5" y2="109.2"></line>
                                </svg>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="h5 mb-1">Prix de vente du bien</div>
                            <!-- Range Slider -->
                            <span class="irs irs--flat js-irs-0 range-slider-custom"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="display: none;">0</span><span class="irs-max" style="display: none;">1</span><span class="irs-from" style="visibility: hidden; display: none;">0</span><span class="irs-to" style="visibility: hidden; display: none;">0</span><span class="irs-single" style="display: none; left: 0%;">0</span></span><span class="irs-grid"></span><span class="irs-bar irs-bar--single" style="left: 0px; width: 30.4361%;"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-handle single" style="left: 28.334%;"><i></i><i></i><i></i></span></span><input class="js-range-slider irs-hidden-input" type="text" id="popSavingSellPriceSlider" data-hs-ion-range-slider-options="{
                                    &quot;type&quot;: &quot;single&quot;,
                                    &quot;extra_classes&quot;: &quot;range-slider-custom&quot;,
                                    &quot;step&quot;: &quot;5000&quot;,
                                    &quot;min&quot;: &quot;80000&quot;,
                                    &quot;max&quot;: &quot;1500000&quot;,
                                    &quot;from&quot;: &quot;500000&quot;,
                                    &quot;to&quot;: &quot;1500000&quot;,
                                    &quot;prefix&quot;: &quot;TND&quot;,
                                    &quot;result_min_target_el&quot;: &quot;#popSliderSellPrice&quot;
                               }" tabindex="-1" readonly="">
                            <!-- End Range Slider -->
                        </div>
                        <div class="col-md-2 align-middle px-0">
                            <div class="h2 text-primary mt-4 mt-md-5 mb-0">
                                <span id="popSliderSellPrice">500000</span>
                                <span class="mr-n2"> </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Selling Price Blocks -->

                    <!-- Agency Price Blocks -->
                    <div class="row align-items-center mb-3 d-none">
                        <div class="col-md-2 d-none d-md-block">
                            <div id="icon20" class="ie-height-56 w-100 max-w-10rem mr-4">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                    <style type="text/css">
                                        .icon-20-0 {
                                            fill: none;
                                            stroke: #BDC5D1;
                                        }

                                        .icon-20-1 {
                                            fill: #FFFFFF;
                                        }

                                        .icon-20-2 {
                                            fill: #BDC5D1;
                                        }

                                        .icon-20-3 {
                                            fill: #377DFF;
                                        }

                                        .icon-20-4 {
                                            fill: #FFFFFF;
                                            stroke: #BDC5D1;
                                        }

                                        .icon-20-5 {
                                            fill: none;
                                            stroke: #FFFFFF;
                                        }
                                    </style>
                                    <path class="icon-20-0 fill-none stroke-gray-400" stroke-width="3" stroke-miterlimit="10" d="M11.3,56.2h11.3V33.5c0-11.4,9.3-20.7,20.7-20.7c11.4,0,20.7,9.3,20.7,20.7v22.7h11.3V33.5
c0-17.6-14.3-31.9-31.9-31.9c-11,0-20.7,5.6-26.5,14.1"></path>
                                    <path class="icon-20-1 fill-white" d="M2.1,77.2c0,22.8,18.5,41.3,41.3,41.3c22.8,0,41.3-18.5,41.3-41.3c0-22.8-18.5-41.3-41.3-41.3
C20.6,35.9,2.1,54.4,2.1,77.2z"></path>
                                    <path class="icon-20-2 fill-gray-400" opacity=".5" d="M21.1,82.3c0,15.5,12.6,28.1,28.1,28.1c15.5,0,28.1-12.6,28.1-28.1c0-15.5-12.6-28.1-28.1-28.1
C33.6,54.3,21.1,66.8,21.1,82.3z"></path>
                                    <path class="icon-20-3 fill-primary" d="M15.3,77.2c0,15.5,12.6,28.1,28.1,28.1c15.5,0,28.1-12.6,28.1-28.1c0-15.5-12.6-28.1-28.1-28.1
C27.9,49.1,15.3,61.7,15.3,77.2z"></path>
                                    <path class="icon-20-1 fill-white" d="M35.6,73c0,4.4,3.6,8,8,8c4.4,0,8-3.6,8-8s-3.6-8-8-8C39.2,65,35.6,68.6,35.6,73z"></path>
                                    <path class="icon-20-0 fill-none stroke-gray-400" stroke-width="3" stroke-miterlimit="10" d="M81.5,61.5c-6.2-15-20.9-25.5-38.2-25.5c-22.8,0-41.3,18.5-41.3,41.3c0,4.5,0.7,8.8,2,12.8"></path>
                                    <path class="icon-20-0 fill-none stroke-gray-400" stroke-width="3" stroke-miterlimit="10" d="M11.4,103.2c7.6,9.3,19.1,15.2,32,15.2c8.4,0,16.1-2.5,22.6-6.8"></path>
                                    <path class="icon-20-0 fill-none stroke-gray-400" stroke-width="3" stroke-miterlimit="10" d="M6,94.5c0.5,1,2.2,4.2,2.8,5.1"></path>
                                    <rect x="38.8" y="71.9" transform="matrix(-1 -4.477852e-11 4.477852e-11 -1 87.1624 161.9485)" class="icon-20-1 fill-white" width="9.5" height="18.2"></rect>
                                    <path class="icon-20-4 fill-white stroke-gray-400" stroke-width="3" stroke-miterlimit="10" d="M67.2,80.3l5.4,11.3c-0.5,3.1-0.4,6.4,0.5,9.7c3.3,12.4,16.1,19.8,28.5,16.4
c12.4-3.3,19.8-16.1,16.4-28.5s-16.1-19.8-28.5-16.4c-4.4,1.2-8.1,3.5-11,6.6L67.2,80.3z"></path>
                                    <path class="icon-20-2 fill-gray-400" opacity=".5" d="M82.8,95.3c-2.2-8.1,2.8-16.5,11.1-18.7c8.3-2.2,16.8,2.5,19,10.7c2.2,8.1-2.8,16.5-11.1,18.7
C93.5,108.2,85,103.4,82.8,95.3z"></path>
                                    <path class="icon-20-3 fill-primary" d="M80.3,99.3c-2.2-8.1,2.8-16.5,11.1-18.7c8.3-2.2,16.8,2.5,19,10.7c2.2,8.1-2.8,16.5-11.1,18.7
C91,112.1,82.5,107.4,80.3,99.3z"></path>
                                    <path class="icon-20-5 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M89.6,95.7l3.5,3.5c0.2,0.2,0.6,0.2,0.8,0l7.9-7.9"></path>
                                </svg>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="h6 mb-1">Pourcentage agence immobilière*</div>
                            <!-- Range Slider -->
                            <span class="irs irs--flat js-irs-1 range-slider-custom"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="display: none;">0</span><span class="irs-max" style="display: none;">1</span><span class="irs-from" style="visibility: hidden; display: none;">0</span><span class="irs-to" style="visibility: hidden; display: none;">0</span><span class="irs-single" style="display: none;">0</span></span><span class="irs-grid"></span><span class="irs-bar irs-bar--single"></span><span class="irs-shadow shadow-single"></span><span class="irs-handle single"><i></i><i></i><i></i></span></span><input class="js-range-slider irs-hidden-input" type="text" id="popSavingAgencyPriceSlider" data-hs-ion-range-slider-options="{
                                    &quot;type&quot;: &quot;single&quot;,
                                    &quot;extra_classes&quot;: &quot;range-slider-custom&quot;,
                                    &quot;step&quot;: &quot;0.1&quot;,
                                    &quot;min&quot;: &quot;2&quot;,
                                    &quot;max&quot;: &quot;10&quot;,
                                    &quot;from&quot;: &quot;4.87&quot;,
                                    &quot;to&quot;: &quot;10&quot;,
                                    &quot;prefix&quot;: &quot;%&quot;,
                                    &quot;result_min_target_el&quot;: &quot;#popSliderAgencyPrice&quot;
                               }" tabindex="-1" readonly="">
                            <!-- End Range Slider -->
                        </div>
                        <div class="col-md-2 align-middle">
                            <div class="h3 text-primary font-weight-semi-bold mb-0">
                                <span id="popSliderAgencyPrice">4.87</span>
                                <span class="ml-n2">%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Agency Price Blocks -->

                    <!-- Saving Section -->
                    <div id="sliderSavingSection" data-target-group="idPricing">
                        <div class="text-secondary font-weight-semi-bold mb-2">
                            <span>Vous Gagnez</span>
                        </div>
                        <div class="display-4 text-primary font-weight-semi-bold mb-2">
                            <span id="popSavingResult">20,450TND</span>
                        </div>
                    </div>
                    <!-- End Saving Section -->


                </div>
            </div>
        </div>
        <!-- End Card Group -->

        <!-- Card Group -->
        <div class="card-group card-group-md-break rounded shadow-soft d-none d-md-block mt-2">
            <div class="card">
                <div class="card-body py-5 px-7">
                    <!-- Icon Blocks -->
                    <div class="media align-items-center d-flex">
                        <div id="icon22" class="mx-3">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <style type="text/css">
                                    .icon-22-0 {
                                        fill: #377DFF;
                                    }

                                    .icon-22-1 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                    }

                                    .icon-22-2 {
                                        fill: none;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-22-3 {
                                        fill: #FFFFFF;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-22-4 {
                                        fill: #BDC5D1;
                                    }

                                    .icon-22-5 {
                                        fill: none;
                                        stroke: #377DFF;
                                    }
                                </style>
                                <path class="icon-22-0 fill-primary" d="M51.9,32.8H16.6c-0.3,3.3-2.4,5.9-5,6.2v23.5c2.6,0.3,4.7,2.9,5,6.2l70.8,0c0.3-3.3,2.4-5.9,5-6.2V39
c-2.6-0.3-4.8-2.9-5-6.2L51.9,32.8"></path>
                                <path class="icon-22-1 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M54.7,44.8c0,1.5-1.2,2.7-2.7,2.7c-1.5,0-2.7-1.2-2.7-2.7c0-1.5,1.2-2.7,2.7-2.7C53.4,42.1,54.7,43.3,54.7,44.8
z"></path>
                                <path class="icon-22-1 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M58.9,59.7c0-4-3.1-7.3-7-7.3s-7,3.3-7,7.3"></path>
                                <path class="icon-22-1 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M59,60.1c-1.8,2.6-4.3,4.2-7.1,4.2c-5.4,0-9.7-6.1-9.7-13.6s4.4-13.6,9.7-13.6c5.2,0,9.4,5.7,9.7,12.8"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M46.5,97.9c0,2.6-6.4,4.7-14.3,4.7c-7.9,0-14.3-2.1-14.3-4.7"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M46.5,90.9c0,2.6-6.4,4.7-14.3,4.7c-7.9,0-14.3-2.1-14.3-4.7"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M46.5,84c0,2.6-6.4,4.7-14.3,4.7c-7.9,0-14.3-2.1-14.3-4.7"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M43.1,74.1"></path>
                                <line class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="46.5" y1="97.9" x2="46.5" y2="76"></line>
                                <line class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.9" y1="97.9" x2="17.9" y2="80.2"></line>
                                <path class="icon-22-3 fill-white stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M44,69.8c0,2.6-6.4,4.7-14.3,4.7c-7.9,0-14.3-2.1-14.3-4.7c0-2.6,6.4-4.7,14.3-4.7C37.6,65.1,44,67.2,44,69.8z"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M44,69.8v7.7c0,2.6-6.4,4.7-14.3,4.7c-7.9,0-14.3-2.1-14.3-4.7v-7.7"></path>
                                <path class="icon-22-3 fill-white stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M21.8,69.3c0,0,2.4,1.6,6.8,1.3"></path>
                                <polyline class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="102.3,48.9 102.3,24.6 1.5,24.6 1.5,76.9 15.4,76.9 "></polyline>
                                <line class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="46.6" y1="76.9" x2="62.9" y2="76.9"></line>
                                <line class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="89.2" y1="100.7" x2="89.2" y2="50.6"></line>
                                <path class="icon-22-4 fill-gray-400" opacity=".3" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M109.7,88.9c2.7-5.8,1.8-5.7,1.8-12.1v-15l-27.2-9l-27.2,9v15c0,17.6,11.4,32.7,27.2,38.3
c5.3-1.9,6.3-2.5,10-5.2C94.4,109.9,101.3,106.5,109.7,88.9z"></path>
                                <path class="icon-22-3 fill-white" d="M112.2,86.4c2.7-5.4,4.2-11.4,4.2-17.8v-15l-27.2-9l-27.2,9v15c0,17.6,11.4,32.7,27.2,38.3
c5.8-2.1,7-1.8,11.3-6.1"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M114.5,80.6c1.8-6.2,1.8-5.7,1.8-12.1v-15l-27.2-9l-27.2,9v15c0,17.6,11.4,32.7,27.2,38.3
c5.3-1.9,6.3-2.5,10-5.2"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M98.6,95.7"></path>
                                <path class="icon-22-2 fill-none stroke-gray-400" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M109,73.6c0.1-0.6,0.1-1.1,0.1-3.2v-11l-19.9-6.6l-19.9,6.6v11c0,12.9,8.4,24,19.9,28.1
c3.7-1.3,4.5-1.7,6.8-3.4"></path>
                                <polygon class="icon-22-3 fill-white" points="106.2,76.7 109.8,85.4 118.5,89 109.8,92.6 106.2,101.3 102.6,92.6 93.9,89 102.6,85.4 "></polygon>
                                <polygon class="icon-22-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="106.2,76.7 109.8,85.4 118.5,89 109.8,92.6 106.2,101.3 102.6,92.6 93.9,89 102.6,85.4 "></polygon>
                                <polyline class="icon-22-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="16.1,13.2 113.8,13.2 113.8,37.9 "></polyline>
                                <polyline class="icon-22-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="10.4,18.9 108.1,18.9 108.1,43.6 "></polyline>
                            </svg>

                        </div>
                        <div class="media-body">
                            <div class="h5">Un exemple ?</div>
                            <p class="mb-0">
                                Par exemple, pour un bien d’une valeur de <b><strong>500 000 TND</strong></b>, vous payez une commission de <b><strong>24 350 TND</strong></b> à une agence traditionnelle.
                                <br> Avec <b><strong>IMOVA</strong></b>, c’est seulement <b><strong>3 900
                                        TND</strong></b>, soit <b><strong>20 450 TND</strong></b> d'économies.
                                
                            </p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
        <!-- End Card Group -->
    </div>
</section>