<section class="position-relative z-index-2" style="
        padding-top: 5%;
        padding-bottom: 5%;
    ">

    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">Services &amp; Tarifs</h2>
    </div>
    <div class="container">
        <div class="">

            <div class="row" style="
justify-content: space-around;
">

                <!-- Key Points -->
                <div class="col-12 col-md-12 col-lg-12 space-top-md-12 space-bottom-md-2 align-items-center h-100 order-2 order-md-1 align-items-center h-100"
                    style="
display: contents;
align-content: center;
">
                    <!-- Pricing Switch Button Group -->
                    <!-- <div class="responsive-service btn-group btn-group-toggle mb-5"> -->
                    <div class="offset-lg-3 offset-md-3 col-6 col-lg-12 col-md-10 btn-group-toggle mb-5">

                        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide active"
                            href="javascript:;" data-hs-show-animation-options="{
   &quot;targetSelector&quot;: &quot;#pricingNoVisits&quot;,
    &quot;groupName&quot;: &quot;pricingVisitsSlider&quot;,
    &quot;animationType&quot;: &quot;css-animation&quot;,
    &quot;animationIn&quot;: &quot;slideInUp&quot;,
    &quot;duration&quot;: 1000
}" data-hs-show-animation-link-group="pricingVisitsSlider">
                            Maison &amp; Appartement
                        </a>

                        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide"
                            href="javascript:;" data-hs-show-animation-options="{
   &quot;targetSelector&quot;: &quot;#pricingWithVisits&quot;,
   &quot;groupName&quot;: &quot;pricingVisitsSlider&quot;,
   &quot;animationType&quot;: &quot;css-animation&quot;,
   &quot;animationIn&quot;: &quot;slideInUp&quot;,
   &quot;duration&quot;: 1000
}" data-hs-show-animation-link-group="pricingVisitsSlider">
                            Local Commercial
                        </a>
                        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide"
                            href="javascript:;" data-hs-show-animation-options="{
   &quot;targetSelector&quot;: &quot;#pricingWithVisits_TerrainAgricole&quot;,
   &quot;groupName&quot;: &quot;pricingVisitsSlider&quot;,
   &quot;animationType&quot;: &quot;css-animation&quot;,
   &quot;animationIn&quot;: &quot;slideInUp&quot;,
   &quot;duration&quot;: 1000
}" data-hs-show-animation-link-group="pricingVisitsSlider">
                            Terrain Agricole
                        </a>
                        <a class="js-animation-link btn btn-outline-secondary btn-custom-toggle-primary btn-sm-wide"
                            href="javascript:;" data-hs-show-animation-options="{
   &quot;targetSelector&quot;: &quot;#pricingWithVisits_TerrainConstructible&quot;,
   &quot;groupName&quot;: &quot;pricingVisitsSlider&quot;,
   &quot;animationType&quot;: &quot;css-animation&quot;,
   &quot;animationIn&quot;: &quot;slideInUp&quot;,
   &quot;duration&quot;: 1000
}" data-hs-show-animation-link-group="pricingVisitsSlider">
                            Terrain Constructible
                        </a>
                    </div>



                </div>

                <div class="col-12 col-md-12 col-lg-12 order-1 order-md-2">


                    <!-- MAISON & APPARTEMENT -->
                    <div id="pricingNoVisits" class="mb-3 animated slideInUp" data-target-group="pricingVisitsSlider"
                        data-hs-show-animation-target-group="pricingVisitsSlider"
                        style="animation-duration: 1000ms; opacity: 1;">


                        <div class="row">
                            <!-- Pricing -->
                            <div class="col-12 col-lg-6 card transition-3d-hover mt-1" style="margin-left: -10px;">
                                <!-- Header -->
                                <header class="card-header text-center p-4" style="justify-content: center;">
                                    <div class="row">
                                        <h2 class="h6 col-12 text-primary mb-3">
                                            CLASSIQUE
                                        </h2>
                                        <span class="col-12 d-block">
                                            <span class="display-4 text-dark font-weight-normal">3 900&nbsp;TND</span>
                                            <span class="d-block text-secondary font-size-1 text-capitalize">SERVICE
                                                DISPONIBLE PARTOUT EN Tunisie</span>
                                        </span>
                                    </div>
                                </header>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body py-3 px-2">
                                    <div class="mb-4 ml-3 ">
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Estimation gratuite du bien
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Analyse de biens de biens similaires déjà vendus
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Photos professionnelles (150d) hors forfait
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Diffusion de votre annonce
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Réceptions des appels
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier de vente
                                            </div>
                                        </div>
                                        <!-- <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                        <i class="fas fa-faw fa-check"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Qualification des acquéreurs et financement
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                        <i class="fas fa-faw fa-check"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Négociation des offres
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                        <i class="fas fa-faw fa-check"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier notaire
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                        <i class="fas fa-faw fa-check"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Paiement à la vente
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                        <i class="fas fa-faw fa-check"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Un courtier dédié pour vos projets futurs
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-danger icon-circle mr-3">
                                        <i class="fas fa-faw fa-times"></i>
                                    </span>
                                            <div class="media-body text-secondary">
                                                Gestion des visites par IMOVA (en option) </div>
                                        </div> -->
                                    </div>
                                    <a href="estimation.html"
                                        class="btn btn-sm btn-block btn-soft-primary transition-3d-hover d-block d-md-none">
                                        <span class="fas fa-paper-plane"></span> C'est parti !
                                    </a>
                                </div>
                                <!-- End Content -->
                            </div>
                            <!-- End Pricing -->
                            <!-- Pricing -->
                            <div class="col-12 col-lg-6 card transition-3d-hover mt-1" style="margin-left: 10px;">
                                <!-- Header -->
                                <header class="card-header text-center p-4" style="justify-content: center;">
                                    <div class="row">
                                        <h2 class="h6 col-12 text-primary mb-3">
                                            <i class="fas fa-star"></i> PREMIUM
                                        </h2>
                                        <span class="col-12 d-block">
                                            <span class="display-4 text-dark font-weight-normal">
                                                5 500&nbsp;TND</span>
                                            <span class="d-block text-secondary font-size-1 text-capitalize">SERVICE
                                                DISPONIBLE PARTOUT EN Tunisie</span>
                                        </span>
                                    </div>
                                </header>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body py-3 px-2">
                                    <div class="mb-4 ml-3 ">
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Estimation gratuite du bien.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Analyse de biens de biens similaires déjà vendus.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Photos professionnelles
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Diffusion de votre annonce.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Réceptions des appels.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites en présentiel.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites virtuelles
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier de vente
                                            </div>
                                        </div>

                                    </div>
                                    <a href="estimation.html"
                                        class="btn btn-sm btn-block btn-soft-primary transition-3d-hover d-block d-md-none">
                                        <span class="fas fa-paper-plane"></span> C'est parti !
                                    </a>
                                </div>
                                <!-- End Content -->
                            </div>
                            <!-- End Pricing -->
                        </div>

                    </div>

                    <!--  Local -->
                    <div id="pricingWithVisits" class="mb-3" data-target-group="pricingVisitsSlider"
                        style="opacity: 0; animation-duration: 1000ms; display: none;"
                        data-hs-show-animation-target-group="pricingVisitsSlider">


                        <div class="row" style="
                        justify-content: center;
                    ">
                            <!-- Pricing -->
                            <div class="col-lg-6 card transition-3d-hover mt-1">
                                <!-- Header -->
                                <header class="card-header text-center p-4" style="justify-content: center;">
                                    <div class="row">
                                        <h2 class="h6 col-12 text-primary mb-3">
                                            <i class="fas fa-star"></i> PREMIUM
                                        </h2>
                                        <span class="col-12 d-block">
                                            <span class="display-4 text-dark font-weight-normal">5
                                                500&nbsp;TND</span>
                                            <span class="d-block text-secondary font-size-1 text-capitalize">SERVICE
                                                DISPONIBLE PARTOUT EN Tunisie</span>
                                        </span>
                                    </div>
                                </header>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body py-3 px-2">
                                    <div class="mb-4 ml-3 ">
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Estimation gratuite du bien.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Analyse de biens similaires déjà vendus.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Photos professionnelles
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Diffusion de votre annonce.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Réceptions des appels.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites en présentiel.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites virtuelles.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier de vente.
                                            </div>
                                        </div>


                                    </div>
                                    <a href="estimation.html"
                                        class="btn btn-sm btn-block btn-soft-primary transition-3d-hover d-block d-md-none">
                                        <span class="fas fa-paper-plane"></span> C'est parti !
                                    </a>
                                </div>
                                <!-- End Content -->
                            </div>
                            <!-- End Pricing -->
                        </div>

                    </div>

                    <!-- TERRAIN AGRICOLE -->
                    <div id="pricingWithVisits_TerrainAgricole" class="mb-3" data-target-group="pricingVisitsSlider"
                        style="opacity: 0; animation-duration: 1000ms; display: none;"
                        data-hs-show-animation-target-group="pricingVisitsSlider">


                        <div class="row" style="
                        justify-content: center;
                    ">
                            <!-- Pricing -->
                            <div class="col-lg-6 card transition-3d-hover mt-1">
                                <!-- Header -->
                                <header class="card-header  p-4">
                                    <div class="row">
                                        <h2 class="h6 col-12 text-primary mb-3">

                                        </h2>

                                        <div class="card-body py-3 px-2">
                                            <div class="mb-4 ml-3 ">
                                                <div class="media mb-3">
                                                    <!-- <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                                    <i class="fas fa-faw fa-check"></i>
                                                                </span> -->
                                                    <div class="media-body text-secondary">
                                                        Moins de 4 Hectares = <strong><b>2 900 TND</b></strong>
                                                    </div>
                                                </div>
                                                <div class="media mb-3">
                                                    <!-- <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                                    <i class="fas fa-faw fa-check"></i>
                                                                </span> -->
                                                    <div class="media-body text-secondary">
                                                        De 4ha jusqu'à 9 Hectares = <strong><b>3 900
                                                                TND</b></strong>
                                                    </div>
                                                </div>
                                                <div class="media mb-3">
                                                    <!-- <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                                    <i class="fas fa-faw fa-check"></i>
                                                                </span> -->
                                                    <div class="media-body text-secondary">
                                                        De 9ha jusqu'à 14 Hectares = <strong><b>4 900
                                                                TND</b></strong>
                                                    </div>
                                                </div>
                                                <div class="media mb-3">
                                                    <!-- <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                                    <i class="fas fa-faw fa-check"></i>
                                                                </span> -->
                                                    <div class="media-body text-secondary">
                                                        Plus de 14 Hectares = <strong><b>6 900 TND</b></strong>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <span class="col-12 d-block">
                                            <!-- <span class="display-4 text-dark font-weight-normal">

                                                    </span> -->


                                            <span class="d-block text-secondary font-size-1 text-capitalize">SERVICE
                                                DISPONIBLE PARTOUT EN Tunisie</span>
                                        </span>






                                    </div>
                                </header>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body py-3 px-2">
                                    <div class="mb-4 ml-3 ">
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Estimation gratuite du bien.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Analyse de biens de biens similaires déjà vendus.
                                            </div>
                                        </div>
                                        <!-- <div class="media mb-3">
                                                    <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                        <i class="fas fa-faw fa-check"></i>
                                                    </span>
                                                    <div class="media-body text-secondary">
                                                        Photos professionnelles
                                                    </div>
                                                </div> -->
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Diffusion de votre annonce.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Réceptions des appels.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites en présentiel.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites virtuelles
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier de vente
                                            </div>
                                        </div>

                                    </div>
                                    <a href="estimation.html"
                                        class="btn btn-sm btn-block btn-soft-primary transition-3d-hover d-block d-md-none">
                                        <span class="fas fa-paper-plane"></span> C'est parti !
                                    </a>
                                </div>
                                <!-- End Content -->
                            </div>
                            <!-- End Pricing -->
                        </div>

                    </div>

                    <!-- TERRAIN Constructible -->
                    <div id="pricingWithVisits_TerrainConstructible" class="mb-3"
                        data-target-group="pricingVisitsSlider"
                        style="opacity: 0; animation-duration: 1000ms; display: none;"
                        data-hs-show-animation-target-group="pricingVisitsSlider">


                        <div class="row" style="
                        justify-content: center;
                    ">
                            <!-- Pricing -->
                            <div class="col-lg-6 card transition-3d-hover mt-1">
                                <!-- Header -->
                                <header class="card-header text-center p-4" style="justify-content: center;">
                                    <div class="row">
                                        <h2 class="h6 col-12 text-primary mb-3">

                                        </h2>
                                        <span class="col-12 d-block">
                                            <span class="display-4 text-dark font-weight-normal"><strong>4
                                                    900</strong>
                                                TND</span>
                                            <span class="d-block text-secondary font-size-1 text-capitalize">SERVICE
                                                DISPONIBLE PARTOUT EN Tunisie</span>
                                        </span>
                                    </div>
                                </header>
                                <!-- End Header -->

                                <div class="card-body py-3 px-2">
                                    <div class="mb-4 ml-3 ">
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Estimation gratuite du bien.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Analyse de biens de biens similaires déjà vendus.
                                            </div>
                                        </div>
                                        <!-- <div class="media mb-3">
                                                    <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                        <i class="fas fa-faw fa-check"></i>
                                                    </span>
                                                    <div class="media-body text-secondary">
                                                        Photos professionnelles
                                                    </div>
                                                </div> -->
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Diffusion de votre annonce.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Réceptions des appels.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites en présentiel.
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Visites virtuelles
                                            </div>
                                        </div>
                                        <div class="media mb-3">
                                            <span class="icon icon-xs icon-soft-success icon-circle mr-3">
                                                <i class="fas fa-faw fa-check"></i>
                                            </span>
                                            <div class="media-body text-secondary">
                                                Préparation du dossier de vente
                                            </div>
                                        </div>

                                    </div>
                                    <a href="estimation.html"
                                        class="btn btn-sm btn-block btn-soft-primary transition-3d-hover d-block d-md-none">
                                        <span class="fas fa-paper-plane"></span> C'est parti !
                                    </a>
                                </div>

                            </div>
                            <!-- End Pricing -->
                        </div>

                    </div>

                </div>


            </div>
        </div>

    </div>
</section>