<section class="container space-2">

    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <!-- <a class="btn btn-xs btn-soft-success btn-pill mb-2" href="service-and-prices.html">
            Vos Économies
        </a> -->
        <h2 class="h3 font-weight-medium">Découvrez les étapes !</h2>
    </div>
    <!-- End Title -->
    <div class="row justify-content-lg-center">


        <div class="col-md-12 col-lg-4 mb-7">
            <!-- Icon Block -->
            <a class="card h-100 transition-3d-hover border-0" href="how-it-work.html">
                <div class="card-body">
                    <div class="media pr-lg-5">

                        <div id="icon63" class="ie-height-56 w-100 max-w-8rem mr-4">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <style type="text/css">
                                    .icon-63-0 {
                                        fill: #BDC5D1;
                                    }

                                    .icon-63-1 {
                                        fill: #FFFFFF;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-63-2 {
                                        fill: none;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-63-3 {
                                        fill: #FFFFFF;
                                        stroke: #377DFF;
                                    }

                                    .icon-63-4 {
                                        fill: none;
                                        stroke: #377DFF;
                                    }
                                </style>
                                <path class="icon-63-0 fill-gray-400" opacity=".3" d="M22.2,22.4H4V2.3h20.1v18.2C24.2,21.6,23.3,22.4,22.2,22.4z"></path>
                                <path class="icon-63-1 fill-white stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M18.7,17.8H4.9c-0.5,0-0.9-0.4-0.9-0.9V3.2c0-0.5,0.4-0.9,0.9-0.9h13.8c0.5,0,0.9,0.4,0.9,0.9v13.8
C19.5,17.4,19.1,17.8,18.7,17.8z"></path>
                                <path class="icon-63-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M59.8,2.3h21.9c0.4,0,0.8,0.3,0.8,0.8V80c0,0.4-0.3,0.8-0.8,0.8H4.8C4.4,80.8,4,80.4,4,80V3.1
c0-0.4,0.3-0.8,0.8-0.8h30.3"></path>
                                <path class="icon-63-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M116,88.6v28.3c0,0.4-0.3,0.8-0.8,0.8H83.3c-0.4,0-0.8-0.3-0.8-0.8V40c0-0.4,0.3-0.8,0.8-0.8h31.9
c0.4,0,0.8,0.3,0.8,0.8v28.3"></path>
                                <path class="icon-63-0 fill-gray-400" opacity=".3" d="M33.6,115.9h-9.7c-0.4,0-0.8-0.3-0.8-0.8V65.8c0-0.4,0.3-0.8,0.8-0.8h49.4c0.4,0,0.8,0.3,0.8,0.8v49.4
c0,0.4-0.3,0.8-0.8,0.8h-19"></path>
                                <path class="icon-63-3 fill-white stroke-primary" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M42,106.2h-9.7c-0.4,0-0.8-0.3-0.8-0.8V56.1c0-0.4,0.3-0.8,0.8-0.8h49.4c0.4,0,0.8,0.3,0.8,0.8v49.4
c0,0.4-0.3,0.8-0.8,0.8h-19"></path>
                                <path class="icon-63-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M81.6,72.2H66.4c-0.5,0-0.9-0.4-0.9-0.9V56.1c0-0.5,0.4-0.9,0.9-0.9h15.2c0.5,0,0.9,0.4,0.9,0.9v15.2
C82.5,71.8,82.1,72.2,81.6,72.2z"></path>
                                <line class="icon-63-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="35.1" y1="2.3" x2="51" y2="22.4"></line>
                                <line class="icon-63-2 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="116" y1="68.3" x2="105.4" y2="82.8"></line>
                                <line class="icon-63-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="62.6" y1="106.2" x2="49.8" y2="94.1"></line>
                            </svg>

                        </div>


                        <div class="media-body">
                            <h3 class="h5 text-dark">1. Estimation</h3>
                            <p class="mb-1 text-secondary">Nous réalisons une estimation précise de votre bien.
                            </p>
                            <div class="font-size-1" href="/how-it-work">
                                En savoir plus <span class="fas fa-angle-right align-middle ml-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- End Icon Block -->
        </div>

        <div class="col-md-12 col-lg-4 mb-7">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover border-0" href="how-it-work.html">
                <div class="card-body">
                    <div class="media">
                        <div id="icon8" class="ie-height-56 w-100 max-w-8rem mr-4">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <style type="text/css">
                                    .icon-8-0 {
                                        fill: none;
                                        stroke: #377DFF;
                                    }

                                    .icon-8-1 {
                                        fill: none;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-8-3 {
                                        fill: #BDC5D1;
                                    }

                                    .icon-8-4 {
                                        fill: #377DFF;
                                    }

                                    .icon-8-5 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                    }
                                </style>
                                <path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M104.7,93.2c-2,3-4.4,5.8-6.9,8.4"></path>
                                <path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M41.5,6.8c2.1-0.6,4.3-1.1,6.5-1.5"></path>
                                <path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M16.2,22.2c3.8-3.9,8.1-7.3,12.8-10.1"></path>
                                <path class="icon-8-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M8.3,32.7c0.8-1.4,1.7-2.8,2.6-4.1"></path>
                                <path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M57.4,118.4c-9.8,0-19.1-2.5-27.1-6.9"></path>
                                <path class="icon-8-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M82.4,112.6c-1.9,0.9-3.8,1.7-5.8,2.5"></path>
                                <g>
                                    <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="44.6" y1="46.9" x2="76.7" y2="46.9"></line>
                                    <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.1" y1="46.9" x2="37.3" y2="46.9"></line>
                                    <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="14.1" y1="76" x2="74.9" y2="76"></line>
                                    <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.2" y1="76" x2="100.8" y2="76"></line>
                                </g>
                                <line class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="57.4" y1="15.4" x2="57.4" y2="107.5"></line>
                                <path class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M71,17.4c-4.3-1.3-8.8-2-13.6-2C32,15.4,11.3,36,11.3,61.4c0,25.5,20.6,46.1,46.1,46.1
c25.5,0,46.1-20.6,46.1-46.1c0-5.3-0.9-10.4-2.6-15.2"></path>
                                <path class="icon-8-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M70.4,21.6c-1.3-1.4-2.8-2.6-4.3-3.5c-2.7-1.7-5.7-2.7-8.7-2.7c-14.3,0-25.9,20.6-25.9,46.1
c0,25.5,11.6,46.1,25.9,46.1c14.3,0,25.9-20.6,25.9-46.1c0-4.7-0.4-9.3-1.2-13.6"></path>
                                <path class="icon-8-3 fill-gray-400" opacity=".5" d="M97.2,9.3c-11.5,0-20.7,9.3-20.7,20.7c0,6.1,7.2,19.7,19,36c0.4,0.6,1,0.8,1.7,0.8c0.7,0,1.3-0.3,1.7-0.8
c11.8-16.1,19-29.7,19-36C117.9,18.6,108.6,9.3,97.2,9.3z"></path>
                                <path class="icon-8-4 fill-primary" d="M91.1,1.6c-11.5,0-20.7,9.3-20.7,20.7c0,6.1,7.2,19.7,19,36c0.4,0.6,1,0.8,1.7,0.8c0.7,0,1.3-0.3,1.7-0.8
c11.8-16.1,19-29.7,19-36C111.7,11,102.4,1.6,91.1,1.6z"></path>
                                <circle class="icon-8-5 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="91.1" cy="22.4" r="9.6"></circle>
                            </svg>

                        </div>

                        <div class="media-body">
                            <h3 class="h5 text-dark">2. Commercialisation</h3>
                            <p class="mb-1 text-secondary">Nous prenons des photos professionnelles et nous nous assurons de la diffusion maximale de votre annonce sur notre site , sur les plateformes spécialisées et les réseaux sociaux.</p>
                            <div class="font-size-1" href="/how-it-work">
                                En savoir plus <span class="fas fa-angle-right align-middle ml-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- End Icon Blocks -->
        </div>

        <div class="col-md-12 col-lg-4 mb-7">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover border-0" href="service-and-prices.html">
                <div class="card-body">
                    <div class="media pr-lg-5">

                        <div id="icon7" class="ie-height-56 w-100 max-w-8rem mr-4">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <style type="text/css">
                                    .icon-7-0 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                    }

                                    .icon-7-1 {
                                        fill: #BDC5D1;
                                    }

                                    .icon-7-2 {
                                        fill: #377DFF;
                                    }

                                    .icon-7-3 {
                                        fill: none;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-7-4 {
                                        fill: none;
                                        stroke: #377DFF;
                                    }
                                </style>
                                <path class="icon-7-1 fill-gray-400" opacity=".5" d="M112.1,8.4H22.7c-3.4,0-6.1,2.8-6.1,6.1v23.4c0,3.4,2.8,6.1,6.1,6.1h5.1v10l15.7-10h13.6l10.3,10.3L77.8,44
h13.6L107,54V44h5.1c3.4,0,6.1-2.8,6.1-6.1V14.5C118.2,11.1,115.5,8.4,112.1,8.4z"></path>
                                <path class="icon-7-2 fill-primary" d="M104.7,2.6H15.3c-3.4,0-6.1,2.8-6.1,6.1v23.4c0,3.4,2.8,6.1,6.1,6.1h5.1v10l15.7-10h13.6L60,48.6l10.3-10.3
h13.6l15.7,10v-10h5.1c3.4,0,6.1-2.8,6.1-6.1V8.7C110.8,5.4,108.1,2.6,104.7,2.6z"></path>
                                <g>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M106.4,76.8c0.4-1.2,0.6-2.6,0.6-3.9c0-6.6-4.7-11.5-10.5-11.5c-5.8,0-10.5,4.9-10.5,11.5
c0,1.4,0.2,2.7,0.6,3.9c-0.8,0.5-1.4,1.5-1.4,2.6c0,1.4,0.9,2.6,2.2,3c1.5,4.5,5,7.7,9.1,7.7c4.1,0,7.6-3.2,9.1-7.7
c1.3-0.4,2.2-1.5,2.2-3C107.7,78.3,107.2,77.4,106.4,76.8z"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M101.6,71l-0.5-2.6c0,0-1.1,0-2.9,1.6c-3.7,3.4-7.9,0.7-7.9,0.7"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M86.5,74.8"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M105.6,95.9l10,4.2c1.9,0.9,2.6,2.8,2.6,4.7v0.4v6.8"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="96.6,97.4 100.4,101.8 105.6,96.1 103.4,92.2 	"></polyline>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M87.5,95.9l-9.8,4c-0.6,0.4-1.1,0.9-1.6,1.5c-0.7,0.9-1,2-1,3.2v7.4"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M87,80.4"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="96.6,97.4 92.7,101.8 87.5,96.1 89.7,92.2 	"></polyline>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="103.4" y1="92.2" x2="96.6" y2="97.4"></line>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="89.7" y1="92.2" x2="96.6" y2="97.4"></line>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M118.2,112c-6.1,3.4-13.5,5.4-21.5,5.4c-8,0-15.4-2-21.5-5.4"></path>
                                </g>
                                <g>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M69.7,70.2c0.4-1.2,0.6-2.6,0.6-3.9c0-6.6-4.7-11.5-10.5-11.5c-5.8,0-10.5,4.9-10.5,11.5
c0,1.4,0.2,2.7,0.6,3.9c-0.8,0.5-1.4,1.5-1.4,2.6c0,1.4,0.9,2.6,2.2,3c1.5,4.5,5,7.7,9.1,7.7c4.1,0,7.6-3.2,9.1-7.7
c1.3-0.4,2.2-1.5,2.2-3C71.1,71.7,70.5,70.7,69.7,70.2z"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M65,64.4l-0.5-2.6c0,0-1.1,0-2.9,1.6c-3.7,3.4-7.9,0.7-7.9,0.7"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M49.9,68.2"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M68.9,89.3l10,4.2c1.9,0.9,2.6,2.8,2.6,4.7"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="59.9,90.8 63.8,95.1 69,89.5 66.7,85.6 	"></polyline>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M50.9,89.3l-9.8,4c-0.6,0.4-1.1,0.9-1.6,1.5c-0.7,0.9-1,2-1,3.2"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M50.3,73.8"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="59.9,90.8 56,95.1 50.8,89.5 53.1,85.6 	"></polyline>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="66.7" y1="85.6" x2="59.9" y2="90.8"></line>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="53.1" y1="85.6" x2="59.9" y2="90.8"></line>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M75.2,108.2c-4.6,1.6-9.8,2.5-15.2,2.5c-5.5,0-10.6-0.9-15.3-2.6"></path>
                                </g>
                                <g>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M33,76.8c0.4-1.2,0.6-2.6,0.6-3.9c0-6.6-4.7-11.5-10.5-11.5c-5.8,0-10.5,4.9-10.5,11.5c0,1.4,0.2,2.7,0.6,3.9
c-0.8,0.5-1.4,1.5-1.4,2.6c0,1.4,0.9,2.6,2.2,3c1.5,4.5,5,7.7,9.1,7.7c4.1,0,7.6-3.2,9.1-7.7c1.3-0.4,2.2-1.5,2.2-3
C34.4,78.3,33.8,77.4,33,76.8z"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M28.3,71l-0.5-2.6c0,0-1.1,0-2.9,1.6c-3.7,3.4-7.9,0.7-7.9,0.7"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M13.2,74.8"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.2,95.9l10,4.2c1.9,0.9,2.6,2.8,2.6,4.7v0.4v6.8"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="23.2,97.4 27.1,101.8 32.3,96.1 30.1,92.2 	"></polyline>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14.2,95.9l-9.8,4c-0.6,0.4-1.1,0.9-1.6,1.5c-0.7,0.9-1,2-1,3.2v7.4"></path>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M13.6,80.4"></path>
                                    <polyline class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="23.2,97.4 19.4,101.8 14.2,96.1 16.4,92.2 	"></polyline>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="30.1" y1="92.2" x2="23.2" y2="97.4"></line>
                                    <line class="icon-7-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="16.4" y1="92.2" x2="23.2" y2="97.4"></line>
                                    <path class="icon-7-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M44.8,112c-6.1,3.4-13.5,5.4-21.5,5.4c-8,0-15.4-2-21.5-5.4"></path>
                                </g>
                                <polygon class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="60.4,9.1 49.2,25.8 59.5,25.8 58.1,37 70.8,20 59.5,20 "></polygon>
                                <g opacity=".5">
                                    <g>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="81.6" y1="14.6" x2="96.7" y2="14.6"></line>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="81.6" y1="21.2" x2="96.7" y2="21.2"></line>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="81.6" y1="27.8" x2="87.8" y2="27.8"></line>
                                    </g>
                                    <g>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.3" y1="14.6" x2="38.4" y2="14.6"></line>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.3" y1="21.2" x2="38.4" y2="21.2"></line>
                                        <line class="icon-7-0 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.3" y1="27.8" x2="29.5" y2="27.8"></line>
                                    </g>
                                </g>
                            </svg>

                        </div>

                        <div class="media-body">
                            <h3 class="h5 text-dark">3. C'est Vendu !</h3>
                            <p class="mb-1 text-secondary">Nous sélectionnons les potentiels acquéreurs et nous vous accompagnons jusqu’ à la vente.</p>
                            <div class="font-size-1" href="/service-and-prices">
                                En savoir plus <span class="fas fa-angle-right align-middle ml-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>
        <div class="col-md-12 col-lg-12 h-100 transition-3d-hover border-0">
            <!-- Icon Blocks -->
            <a class="card h-100 transition-3d-hover border-0 pt-5 pb-5" href="estimation.html">
                <div class="card-body">
                    <div class="media pl-lg-5">
                        <div id="icon31" class="ie-height-56 w-100 max-w-8rem mr-4">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve">
                                <style type="text/css">
                                    .icon-31-0 {
                                        fill: none;
                                        stroke: #377DFF;
                                    }

                                    .icon-31-1 {
                                        fill: none;
                                        stroke: #BDC5D1;
                                    }

                                    .icon-31-2 {
                                        fill: #377DFF;
                                    }

                                    .icon-31-3 {
                                        fill: none;
                                        stroke: #FFFFFF;
                                    }

                                    .icon-31-4 {
                                        fill: #BDC5D1;
                                    }

                                    .icon-31-5 {
                                        fill: #FFFFFF;
                                        stroke: #BDC5D1;
                                    }
                                </style>
                                <g>
                                    <path class="icon-31-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M67.7,67.4c1.3,1.7,3.3,2.8,5.6,2.8c3.8,0,6.9-3.1,6.9-6.9c0-3.8-3.1-6.9-6.9-6.9h-0.1c-3,0-5.3-2.4-5.3-5.3
c0-3,2.4-5.3,5.3-5.3c1.8,0,3.3,0.9,4.3,2.2"></path>
                                    <line class="icon-31-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="73.2" y1="45.7" x2="73.2" y2="42.7"></line>
                                    <line class="icon-31-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="73.2" y1="73.2" x2="73.2" y2="70.2"></line>
                                </g>
                                <g>
                                    <line class="icon-31-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="65.3" y1="23.3" x2="65.3" y2="15.1"></line>
                                    <line class="icon-31-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="82.7" y1="15.1" x2="82.7" y2="23.3"></line>
                                </g>
                                <path class="icon-31-2 fill-primary" d="M59.1,0.9h29.8c0.8,0,1.3,0.8,1,1.5l-5.7,11.9c-0.2,0.4-0.6,0.6-1,0.6H64.8c-0.4,0-0.8-0.2-1-0.6L58.1,2.4
C57.8,1.7,58.3,0.9,59.1,0.9z"></path>
                                <path class="icon-31-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M101.5,88.3c1.3-2.2,2.1-4.7,2.1-7.5V51.6c0-13.3-8.8-24.6-20.9-28.3H65.3c-12.1,3.7-20.9,15-20.9,28.3v24.7"></path>
                                <g>
                                    <line class="icon-31-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="76.9" y1="11.7" x2="79.3" y2="5.4"></line>
                                    <line class="icon-31-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="71.1" y1="11.7" x2="68.6" y2="5.4"></line>
                                </g>
                                <g>
                                    <line class="icon-31-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="86.9" y1="59.3" x2="88.7" y2="59.3"></line>
                                    <line class="icon-31-1 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="59.3" y1="59.3" x2="61" y2="59.3"></line>
                                </g>
                                <path class="icon-31-4 fill-gray-400" opacity=".5" d="M90.7,93.8l21.3-5.8c2.6-0.7,5.3,0.7,6.2,3.3l0,0c0.7,2.3-0.2,5.1-2.6,6.2l-41.3,20.7
c-4.6,2.2-9.9,2.5-14.4,0.5L37,108.9H26.7c-0.7,0-1.3-0.6-1.3-1.3v-8L90.7,93.8z"></path>
                                <path class="icon-31-5 fill-white stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M77.8,86.3l34.3-7.1c2.6-0.7,5.3,0.7,6.2,3.3l0,0c0.7,2.3-0.2,5.1-2.6,6.2l-41.3,20.7
c-4.6,2.2-9.9,2.5-14.4,0.5L37,100.1H25.5"></path>
                                <path class="icon-31-5 fill-white stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M25.3,67.5h11.6L61.3,75h14.3c3.3,0,6,2.7,6,6l0,0c0,3.1-2.5,5.5-5.5,5.5H61.3c-3.2,0-5.8,2.6-5.8,5.8l0,0"></path>
                                <path class="icon-31-2 fill-primary" d="M1.9,104.2h21.7c1,0,1.7-0.7,1.7-1.7V65.1c0-1-0.7-1.7-1.7-1.7H1.9c-1,0-1.7,0.7-1.7,1.7v37.3
C0.2,103.3,0.9,104.2,1.9,104.2z"></path>
                                <line class="icon-31-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="13.8" y1="78.8" x2="13.8" y2="82.6"></line>
                            </svg>

                        </div>

                        <div class="media-body">
                            <h3 class="h5 text-dark">
                                Le mieux dans tout ça ?
                                <span class="badge badge-success font-weight-medium badge-pill ml-1">Seulement
                                    3 900&nbsp;TND</span>
                            </h3>
                            <p class="mb-1 text-secondary">Vous ne payez que si nous vendons votre bien.</p>
                            <div class="font-size-1" href="/estimation">
                                C'est parti !
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- End Icon Blocks -->
        </div>

    </div>
</section>